.footer__contact-links {
  list-style: none;
  display: flex;
  padding: 0;
  }


@media screen and (max-width: 767px) {
  .footer__contact-links {
    flex-direction: column;
    gap: 32px;
    margin: 0;
    align-self: flex-start;
  }
}
