.footer__author {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

}

@media screen and (max-width: 767px) {
  .footer__author {
    line-height: 14px;
    align-self: flex-start;
}
}
