.lead__title {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', 'Arial', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
