.intro {
  width: 690px;
  margin: 0 442px 0 148px;
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin: 0 286px 0 48px;
}
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    margin: 0 auto;
    padding-top: 64px;
  }
}
