.footer__contact-link {
  margin-right: 18px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .footer__contact-link {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }
}
