.footer__contact-link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Inter', 'Arial', Helvetica, sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: opacity 0.3s;
}

.footer__contact-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__contact-link {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }
}
