.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  grid-template-areas:
  "title website"
  "img text";
  margin-bottom: 80px;
  height: min-content;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
}
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: block;
    margin-bottom: 50px;
  }
}
